* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100%-48px);
}
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  /* identical to box height, or 175% */

  text-align: center;

  color: #ffffff;
  background: #171100;
  border-radius: 24.5px;
  padding: 11px 41px;
  min-width: 118px;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", "Sen", sans-serif;
}

.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.header .nav ul {
  display: flex;
}

.nav {
  margin-left: auto;
}

.nav a {
  position: relative;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;

  color: #5f5b53;
  padding: 8px 21px;
}
.nav a:hover,
.nav li.active a {
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}
.nav li.active a::after {
  position: absolute;
  display: block;
  left: 21px;
  bottom: 6px;
  content: "";
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
}

.header .sign-up-btn {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}
